/* Border distances */
/* Font sizes */
/* Element sizes */
/* border */
/* Flex Utility */
.flex-row, .content-container, .option-item, .radio-item, .format-item, .input-item, .quick-option-button, .set-option-btn, .add-field-btn, .format-select-btn, .size-options-container, .new-item-box, .new-item-fieldset .textfield-container, .main-section, .text-area-container, .text-area-footer, .format-btns-container {
  display: flex; }

.flex-column, .navbar, .icon-container, .left-aside, .options-section, .options-container, .set-size-section, .radio-item, .format-item, .input-item, .textfield-container, .new-item-section, .new-item-fieldset, .main-section-container, .text-area, .text-area-sidebar, .util-icon-container {
  display: flex;
  flex-direction: column; }

.full-border, .quick-option-button, .set-option-btn, .add-field-btn, .format-select-btn, .new-item-box {
  border: 1px #d1d1d1 solid;
  border-radius: 6px; }

body {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #797979; }

.header-border {
  width: 100%;
  height: 100%;
  border-bottom: 1px #d1d1d1 solid; }

.page-header {
  height: 2rem;
  padding-bottom: 0.3rem;
  padding-left: 6rem; }

/* Section: Navbar */
.navbar {
  width: 10%;
  height: 100vh;
  min-width: 60px;
  max-width: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
  border-right: 1px #d1d1d1 solid; }

.icon-container {
  height: 40px;
  justify-content: center;
  align-items: center; }

.icon {
  height: 30px; }

/* Section: Left aside */
.left-aside {
  width: 30%;
  height: 100vh;
  min-width: 270px;
  max-width: 300px;
  padding: 0.5rem 1rem 0 1rem;
  overflow: scroll; }

.aside-title-text {
  margin-bottom: 0.5rem;
  font-weight: 700; }

/* Section: Quick Options */
.options-section {
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px #d1d1d1 solid; }

.options-container {
  width: 100%; }

.option-item, .radio-item, .format-item, .input-item {
  width: 100%;
  height: 40px;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.5rem; }

.hide-default {
  width: 0;
  height: 0; }

.quick-option-button, .set-option-btn, .add-field-btn, .format-select-btn {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; }

.option-item:not(:has(.textfield-container)), .radio-item:not(:has(.textfield-container)), .format-item:not(:has(.textfield-container)), .input-item:not(:has(.textfield-container)) {
  cursor: pointer; }

/* Section: Set Size  */
.set-size-section {
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  border-bottom: 1px #d1d1d1 solid; }

.size-options-container {
  width: 100%;
  justify-content: space-between; }

.radio-item, .format-item {
  max-width: 4rem; }

.textfield-container {
  width: 97%;
  height: 100%;
  margin-left: 0.3rem;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px #a8a8a8 solid;
  border-radius: 6px; }

.textfield-container:focus-within {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15); }

.input-style {
  width: 100%;
  height: 100%;
  margin-left: 0.3rem;
  border: none;
  color: #797979;
  font-size: 1rem;
  border-radius: 6px;
  background-color: transparent; }

.hide-default:checked + span {
  background-color: #797979;
  color: #f3f3f3;
  border: 1px #797979 solid; }

.option-text {
  font-size: 1rem; }

/* New Item Section */
.new-item-section {
  width: 100%;
  height: 100%;
  padding-top: 1rem; }

.new-item-box {
  width: 100%;
  height: 80px;
  padding-bottom: 1rem;
  padding-top: 1rem; }

.new-item-fieldset {
  width: 100%;
  justify-content: space-between;
  margin-left: 0.5rem; }
  .new-item-fieldset .textfield-container {
    height: 1.8rem;
    justify-content: center;
    align-items: center; }

.close-btn-container {
  width: 10%;
  height: 100%;
  padding-right: 0.5rem;
  position: relative; }
  .close-btn-container .close-btn {
    height: 10px;
    position: absolute;
    top: -0.5rem;
    right: .7rem;
    cursor: pointer; }

.add-field-btn {
  height: 3rem;
  margin-top: 1rem;
  cursor: pointer; }

/* Section: Main */
.main-section {
  width: 100%;
  height: 100vh;
  max-width: 900px;
  justify-content: center;
  align-items: center; }

.main-section-container {
  width: 95%;
  height: 95%;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  background-color: #f3f3f3;
  border-radius: 32px;
  box-shadow: 3px 3px 21px 11px rgba(0, 0, 0, 0.13); }

.text-area-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 2rem;
  padding-bottom: 0.5rem; }

.numbers {
  width: 20px;
  text-align: right;
  color: #a8a8a8; }

.text-area {
  width: 100%;
  height: 100%;
  overflow: scroll; }

.text-area-sidebar {
  width: 6rem;
  height: 100%;
  padding-right: 1rem;
  padding-left: 0.5rem; }

.util-icon-container {
  height: 100%; }

.util-btn:first-child {
  margin-bottom: auto; }

.util-btn {
  margin-bottom: 0.5rem; }

.util-icon {
  height: 3.5rem;
  cursor: pointer; }

.text-area-footer {
  width: 100%;
  height: 10%;
  min-height: 30px;
  max-height: 70px;
  align-items: center;
  border-top: 1px #d1d1d1 solid; }

.format-btns-container {
  width: 100%;
  padding-left: 1rem; }

.format-item {
  width: 100%;
  height: 50px;
  max-width: 6rem;
  margin-left: 1rem;
  cursor: pointer; }

.format-select-btn {
  border-radius: 12px; }

/* Section: Media Queries */
@media screen and (max-width: 700px) and (orientation: portrait) {
  .content-container {
    /* Size */
    /* Alignment */
    flex-direction: column; }

  .navbar {
    /* Size */
    height: 6vh;
    width: 100%;
    max-width: 100%;
    /* Alignment */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 1; }

  .main-section {
    /* Size */
    height: 30vh;
    /* Alignment */
    order: 2; }

  .left-aside {
    /* Size */
    width: 100%;
    max-width: 100%;
    height: 30%;
    /* Alignment */
    order: 3; }

  .options-section {
    /* Alignment */
    flex-direction: row; } }

/*# sourceMappingURL=styles.css.map */
