/* Colors */
$mist:  #f3f3f3;
$rain: #d1d1d1;
$thunder: #a8a8a8;
$smoke: #797979;
$dull: #ececec;

/* Border distances */
$two: 2rem;
$one: 1rem;
$half: 0.5rem;
$third: 0.3rem;

/* Font sizes */
$small: 0.8rem;
$normal: 1rem;

/* Element sizes */
$icon-size: 40px;

/* border */
$border-style: 1px $rain solid;
$border-dark: 1px $smoke solid;