$mist:  #f3f3f3;
$rain: #d1d1d1;
$thunder: #a8a8a8;
$smoke: #797979;

$dull: #ececec;


/* Reset default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: break-word;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  color: $smoke;
}

/* Hide the default up and down arrows */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}

input[type="number"], input[type="text"], fieldset {
  padding: 0;
}

input[type="number"]:focus, input[type="text"]:focus, select:focus {
  outline: none;
}

input::placeholder {
  font-size: 16px;
  color: $thunder
}

input[disabled]::placeholder {
  color: #ccc;
}

input:disabled {
  background-color: $dull !important;
}

.textfield-container:has(input:disabled) {
  background-color: $dull;
  border: 1px $dull solid;
  border-radius: 6px;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  }

/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root, #__next {
  isolation: isolate;
}